*, *::before, *::after {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin: 0;
}
.rel {
  position: relative !important;
}
/*
.transition-fade {
  transition-delay: 1s;
  transition: 2.2s;
  opacity: 1;
  position: relative;
  overflow-x: hidden;
}

.transition-fade::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #db9195;
  right: -100vw;
  top: 0;
  transition: 1s ease;
  z-index: 999;
}

html.is-animating .transition-fade {
  opacity: 0;
}
html.is-animating .transition-fade::after {
  right: 0;
}
*/

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 1;
    pointer-events: none;
    background: #DB9195;
    animation-duration: 0.4s;
    animation-timing-function: ease;
};
@keyframes fade-out {
    from { opacity: 1;background: #DB9195; }
      to { opacity: 0;background: #ffffff; }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

svg polyline,
svg line,
svg path {
  transition: 0.4s;
}
.services-box:hover .svg-2 path {
  d: path("M4,.871l-4-4H-2v2l4,4Zm6-4h2v4H10ZM22.361,10h4v2h-4ZM23,2V0H21L17,4l2,2ZM-6.244,10h4v2h-4ZM10,22.15h2v4H10ZM-2,21v2H0l4-4L2,17ZM37.582,34.227,17.7,14.348a1.5,1.5,0,0,0-2.121,0L13.7,16.227a1.5,1.5,0,0,0,0,2.121L33.582,38.227a1.5,1.5,0,0,0,2.121,0l1.879-1.879A1.5,1.5,0,0,0,37.582,34.227ZM21.019,23.664l-6-6,2-2,6,6Z");
  transform: translate(4.244px, 2.129px);
}
.services-box:hover .svg-3 .c-1 {
  transform: translate(362.981px, 101.599px) scale(-1);
}
.services-box:hover .svg-3 .c-2 {
  transform: translate(30.878px, 101.599px) scale(-1);
}
.services-box:hover .svg-1 .ic-1-1 {
  transform: translate(-3.6px, -2.5px);
}
.services-box:hover .svg-1 .ic-1-3 {
  transform: translate(-1.6px, -2.5px);
}
.services-box:hover .svg-1 .ic-1-2 {
  transform: translate(-2.6px, -5.5px);
}
.container {
    display: block;
    width: 100%;
    max-width: 1310px;
    padding: 0 25px;
    margin: 0 auto;
}
.line-right-bottom::after {
  content: "";
  height: 200px;
  width: 1px;
  background-color: #1f2249;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.line-right-bottom-horizontal::after {
  content: "";
  height: 1px;
  width: 200px;
  background-color: #1f2249;
  position: absolute;
  bottom: -20px;
  right: 0;
}
.line-left-top::after {
  content: "";
  height: 200px;
  width: 1px;
  background-color: #1f2249;
  position: absolute;
  top: 0;
  left: -16px;
}
.white {
  color: #fff !important;
}
.blue {
  color: #1F2249 !important;
}
.flex-box {
    display: flex;
    height: 100%;
}
.flex-center {
    align-self: center;
}
.justify-between {
    justify-content: space-between;
}
.text-center {
  text-align: center !important;
}
.marg-bottom {
  margin-bottom: 180px !important;
}
.marg-bottom-sm {
  margin-bottom: 42px !important;
}
.marg-bottom-sub {
  margin-bottom: 64px !important;
}
.marg-bottom-sub-x2 {
  margin-bottom: 128px !important;
}
.splash {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    animation-name: disperse;
    animation-duration: 1.2s;
    animation-delay: 1.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 10;
    background-color: #fff;
}
.splash span {
  position: absolute;
  animation-name: splash;
  animation-duration: .6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  background-color: #1F2249;
  overflow: hidden;
  border-radius: 50%;
  left: 52%;
  top: 52%;
}

.splash svg {
    align-self: center;
}
@keyframes splash {
  from {height: 0;width: 0;left: 52%;top: 52%;}
  to {height: 200vw;width: 200%;left: -48%;top: -100%;}
}
@keyframes disperse {
  0% {top: 0;opacity: 1;}
  50% {top:0;opacity: 0;}
  100% {top:99999px;opacity: 0;}
}

.header {
    height: 101px;
    background-color: #DB9195;
    position: absolute;
    z-index: 2;
    width: 100%;
}
.icon-bar {
    width: 32px;
    background-color: #fff;
    display: block;
    height: 2px;
    border-radius: 1px;
    transition: .4s ease;
}
.bar1 {
    transition: 0.4s ease;
}
.bar2 {
    margin-top: 7px;
}
nav.right-nav.flex-box {
    height: 101px;
    position: fixed;
    width: 85px;
    right: 0;
    z-index: 5;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease;
}
.navbar-toggler .header-hamburger-menu {
  transition: .4s ease;
  height: 100%;
  width: 100%;
  border-radius: 0%;
  background-color: #db9195;
  display: flex;
  justify-content: center;
}
.navbar-toggler button {
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: .4s ease;
    cursor: pointer;
}
.navbar-toggler:hover .header-hamburger-menu, .navbar-toggler.show .header-hamburger-menu {
  height: 53px;
  width: 53px;
  border-radius: 50%;
}
.navbar-toggler:hover button {
    transform: rotate(90deg);
}
.navbar-toggler.show button {
    transform: rotate(135deg);
}
.navbar-toggler:hover button .bar1, .navbar-toggler.show button .bar1 {
    -webkit-transform: translateY(-1px) rotate(90deg);
    transform: translateY(-1px) rotate(90deg);
}
.navbar-toggler:hover button .bar2, .navbar-toggler.show button .bar2 {
    margin-top: -3px;
}
.drawer-menu {
  position: fixed;
  background-color: #db9195;
  width: 0;
  height: 0;
  z-index: 4;
  top: -100vh;
  right: -100vw;
  display: flex;
  transition: 0.6s ease;
}
.drawer-menu.drawn {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
}
.drawer-menu .container {
    max-width: 1110px;
}
.drawer-seperator {
    display: inline-block;
    color: #fff;
    font-size: 64px;
    font-family: arvo, serif;
    margin: 0 16px;
}
.drawer-menu a {
    color: #fff;
    font-size: 64px;
    font-family: arvo, serif;
    text-decoration: none;
    margin-bottom: 64px;
    display: inline-block;
}
.drawer-menu a:hover {
    color: #1F2249;
}

.drawer-menu a .drawer-small {
    font-size: 16px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}



.hero {
    background-color: #1F2249;
    height: 90vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
}
.hero-white {
  background-color: #fff;
}
.hero-offwhite {
  background-color: #F8F8F9;
}
.hero .flex-center {
    width: 100%;
}
.hero-heading {
    color: #fff;
    font-size: 64px;
    font-family: arvo, serif;
}
.btn-wrapper {
    width: 100%;
    max-width: 870px;
    padding-right: 25px;
}
.btn {
    font-size: 32px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    display: table;
    text-decoration: none;
    padding: 15px 48px;
    font-weight: 700;
    margin-left: auto;
}
.btn-default {
    color: #1F2249;
    text-align: left;
    padding: 0;
    margin-left: 0;
    border: 0;
}
.btn-center {
  display: table;
  margin: 0 auto;
}
.btn-right {
  display: table;
  margin-left: auto;
  margin-right: 0;
}
.btn-default .plus-space {
  margin-top: -4px;
}
.footer .btn-default .plus-space {
  margin-top: -10px;
}
.btn-footer {
  background-color: #1f2249;
  margin: 0 auto;
  font-family: ubuntu, sans-serif;
  border: 0;
  padding: 22px 30px;
  cursor: pointer;
  margin-bottom: 40px;
}
.btn-underline::after {
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    border-radius: 50px;
}
.btn-underline:hover::after {
    width: 100%;
}
.plus-space {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    position: relative;
}
.arrow-space {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    position: relative;
}
.svg-plus, .footer .svg-arrow {
  background-color: #db9195;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: block;
  position: absolute;
  bottom: 2px;
  padding: 4px;
  transition: .4s ease;
  transform: rotate(90deg);
  margin: 0;
}
.footer .btn-footer.btn .svg-arrow {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.btn:hover .svg-plus {
  height: 100%;
  width: 100%;
  padding: 5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.footer .btn:hover .svg-arrow {
  height: 100%;
  width: 100%;
  padding: 5px;
}
.smol-footer {
    height: auto !important;
}
.scroll {
    color: #db9195;
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 78px);
    text-decoration: none;
    font-weight: 700;
    transition: .4s ease;
}
.scroll:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.svg-arrow {
    height: 30px;
    width: 30px;
    background-color: #db9195;
    border-radius: 50%;
    transform: rotate(90deg);
    padding: 5px;
    margin-bottom: -8px;
    margin-left: 8px;
}
.h2 {
    color: #db9195;
    font-size: 96px;
    font-family: arvo, serif;
    margin: 0;
    position: relative;
}
.h2-footer {
    color: #db9195;
    font-size: 64px;
    font-family: arvo, serif;
    margin: 0;
    position: relative;
}
.h2-sub {
    color: #1f2249;
    font-size: 48px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    position: absolute;
    left: 130px;
    bottom: -50px;
}
.h2-sub-2 {
    left: 410px;
}
.h2-sub-3 {
    left: 275px;
}
.h2-sub-4 {
    left: 80px;
}
.h2-sub-5 {
    left: 162px;
}
.h2-sub::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: #1f2249;
    position: absolute;
    bottom: -10px;
    right: -120px;
}
.services-box {
    background-color: #E2EBF4;
    padding: 32px;
    width: calc( 33.3333% - 10.666667px );
}
.services-box img {
    margin-bottom: 24px;
}
.services-box-title {
    margin-bottom: 24px;
    color: #1F2249;
    font-weight: 500;
    font-size: 24px;
}
.services-box-text {
    font-size: 16px;
    font-weight: 300;
    color: #1F2249;
    line-height: 1.4;
}

.two-col {
    width: calc( 50% - 16px );
}
.two-col img {
    width: 100%;
    display: block;
}
.two-col-text {
    font-size: 24px;
    color: #1F2249;
    font-weight: 300;
    line-height: 1.4;
}

.projects-carousel {
  padding: 0 100px;
}
.projects-carousel .slick-active .two-col-big img, .projects-carousel .slick-active .two-col-big:hover iframe {
  width: 100%;
}
.two-col-big {
    width: calc( 60% - 50px );
    height: 630px;
}
.two-col-small {
    width: calc( 40% - 60px );
    max-width: 287px;
}
.two-col-small img {
  width: 100%;
  display: block;
}
.two-col-big img {
    width: 95%;
    display: block;
    transition: 0.4s ease;
    transition-delay: .4s;
}
.two-col-small-text {
    font-size: 16px;
    color: #1F2249;
    font-weight: 300;
    line-height: 1.4;
}
.two-col-small-header {
    font-size: 32px;
    font-family: arvo, serif;
    color: #1F2249;
    text-transform: uppercase;
}
.two-col-small-sub-header {
    font-weight: 300;
    color: #1F2249;
    font-size: 24px;
    margin-bottom: 34px;
}
.imageRot {
   -webkit-animation:spin 0.4s ease-in-out;
    -moz-animation:spin 0.4s ease-in-out;
    animation:spin 0.4s ease-in-out;
}
@-moz-keyframes spin {
    100% { -webkit-transform: translate(0, -50%) rotate(360deg); transform: translate(0, -50%) rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: translate(0, -50%) rotate(360deg); transform: translate(0, -50%) rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: translate(0, -50%) rotate(360deg); transform: translate(0, -50%) rotate(360deg); }
}
.imageRotReverse {
   -webkit-animation:spin 0.4s ease-in-out;
    -moz-animation:spin 0.4s ease-in-out;
    animation:spin 0.4s ease-in-out;
}
@-moz-keyframes spin {
    100% { -webkit-transform: translate(0, -50%) rotate(-360deg); transform: translate(0, -50%) rotate(-360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: translate(0, -50%) rotate(-360deg); transform: translate(0, -50%) rotate(-360deg); }
}
@keyframes spin {
    100% { -webkit-transform: translate(0, -50%) rotate(-360deg); transform: translate(0, -50%) rotate(-360deg); }
}
.project-info {
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #1F2249;
    color: #fff;
    text-align: center;
    top: calc( 50% - 80px );
    right: -40px;
    border-radius: 50%;
    line-height: 1.4;
    font-weight: 700;
    padding-top: 15px;
}

.bg-box {
  padding: 100px 0;
  background-color: #F8F8F9;
}


.two-col-larg {
    width: calc( 60% - 40px );
}
.two-col-smol {
    width: calc( 40% - 40px );
    max-width: 388px;
}
.two-col-larg img {
    width: 100%;
    display: block;
}

.clients-carousel {
    padding: 0 100px;
}
.clients-box {
    padding: 60px 55px;
    background-color: #E2EBF4;
}
.clients-col-text {
    width: calc( 100% - 177px );
}
.clients-col-img {
    width: 157px;
}
.clients-col-img img {
    border-radius: 50%;
    height: 137px;
    width: 137px;
}
.clients-testimonial {
    line-height: 1.4;
    font-size: 24px;
    font-weight: 300;
    color: #1F2249;
}
.client-name {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 500;
    color: #1F2249;
}

.footer {
    height: 100vh;
    margin-top: 360px;
    background-color: #1F2249;
}
.footer-col {
    width: calc( 50% - 6px );
    margin-top: -180px;
}
.footer-col-form h2 {
  margin: 0;
  padding: 71.5px 0;
}
.footer-overlay-box {
  box-shadow: 0px 6px 18px #00000029;
  background-color: #F8F8F9;
}
.footer-contact-form {
    height: calc( 100vh - 82px );
    padding: 14px 34px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-img {
  position: absolute;
  z-index: -1;
  left: -200px;
}
label {
    display: block;
    font-weight: 300;
    color: #1F2249;
    margin-bottom: 4px;
}
input, textarea {
    padding: 16px;
    width: 100%;
    border: 0;
    margin-bottom: 32px;
    font-family: ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #1F2249;
}
input::placeholder, textarea::placeholder {
  color: #1F224926; /* Firefox */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #1F224926;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Microsoft Edge */
 color: #1F224926;
}
.footer-sub {
    height: 82px;
}
.footer-sub-left a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 28px;
    font-weight: 700;
}
.footer-sub-right a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    width: 85px;
}

.hero-services {
  background-image: url("/img/Services/bombay-studio-office.jpg");
  background-position: center;
  background-size: cover;
}
.hero-services .hero-heading {
  max-width: 590px;
}
.services-h2 {
    color: #1F2249;
    font-size: 64px;
}
.services-h2 svg {
  height: 78px;
  width: 78px;
  vertical-align: bottom;
}
.services-h2-sub {
    color: #DB9195;
    font-size: 32px;
    bottom: -35px;
}
.services-h2-sub::after {
    background-color: #DB9195;
    right: -125px;
}
.h2-sub-6 {
    left: 400px;
}
.service-col-text, .service-col-img {
    width: calc( 50% - 60px );
}
.h2-sub-7 {
    left: 465px;
}
@media (max-width: 1100px) {
  .h2-sub-7 {
      left: 360px;
  }
}
.services-blocks {
    flex-wrap: wrap;
}
.services-vary-box-1 {
    background-color: #E2EBF4;
    padding: 32px;
    width: calc( 38.8% - 8px );
    margin-bottom: 25px;
}
.services-vary-box-2 {
    background-color: #E2EBF4;
    padding: 32px;
    width: calc( 61.2% - 8px );
    margin-bottom: 25px;
}
.h2-sub-8 {
    left: 475px;
}
@media (max-width: 1145px) {
  .h2-sub-8 {
      left: 320px;
  }
}
.h2-sub-9 {
    left: 760px;
}
@media (max-width: 1170px) {
  .h2-sub-9 {
      left: 600px;
  }
}

.contact-page .hero {
    z-index: -1;
}
.contact-page .hero-heading {
    max-width: 994px;
}
.contact-page .footer {
    margin-top: 0;
    background-color: transparent;
    height: calc( 100vh + 469px );
}
.contact-page .h2-footer {
    font-size: 48px;
    font-weight: 300;
    font-family: ubuntu, sans-serif;
    margin-top: -250px;
    margin-bottom: 54px;
}
.footer-contact-row {
    margin-top: 92px;
    margin-bottom: 209px;
}
.no-form {
    display: block;
    color: #DB9195;
    font-weight: 300;
    font-size: 32px;
    max-width: 389px;
    margin-bottom: 24px;
    position: relative;
}
.no-form::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: #DB9195;
    position: absolute;
    bottom: -5px;
    right: -110px;
}
.bg-blue {
    background-color: #1F2249;
    height: 180px;
}

.hero-invest {
    background-image: url("/img/invest/Placement Area@2x.png");
    background-position: center;
    background-size: cover;
}
.hero-invest .hero-heading {
    max-width: 590px;
}
.two-col-smol img {
    display: block;
    width: 100%;
}
.h2-sub-10 {
    left: 690px;
}
@media (max-width: 1240px) {
  .h2-sub-10 {
      left: 440px;
  }
}
.invest-page .two-col-smol {
  max-width: 489px;
}
.h2-sub-11 {
    left: 650px;
}
@media (max-width: 1250px) {
  .h2-sub-11 {
      left: 394px;
  }
}
.invest-page h2.hero-heading {
    color: #1F2249;
    font-size: 48px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    display: inline-block;
}
.invest-page h2.hero-heading::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: #1f2249;
    position: absolute;
    bottom: -10px;
    right: -150px;
}
.invest-page .scroll .arrow {
  stroke: #ffffff;
}
.h2-sub-12 {
  left: 360px;
}
.hero-team {
    background-image: url("/img/team/Placement Area@2x.jpg");
    background-position: center;
    background-size: cover;
}
.page-heading {
    color: #1F2249;
    font-size: 48px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    display: inline-block;
}
.update-box {
    margin-top: 72px;
}
.update-box label {
    color: #1F2249;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
}
.update-box input {
    width: 250px;
    display: inline-block;
    margin: 0;
    font-size: 24px;
}

.update-box input::placeholder {
  color: #1F2249; /* Firefox */
  opacity: 1;
}

.update-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #1F2249;
 opacity: 1;
}

.update-box input::-ms-input-placeholder { /* Microsoft Edge */
 color: #1F2249;
 opacity: 1;
}
.update-box button {
    background-color: transparent;
    border: 0;
    display: inline-block;
    height: 48px;
    width: 48px;
    vertical-align: super;
    cursor: pointer;
}
.update-box .arrow-space {
    height: 48px;
    width: 48px;
}
.update-box .svg-arrow {
    height: 48px;
    width: 48px;
    transform: rotate(0deg);
    margin-left: -10px;
}
.update-box .svg-arrow .arrow {
    stroke: #ffffff;
}
.update-box-content {
    display: table;
    margin-left: auto;
    position: relative;
}
.update-box-content::after {
    content: "";
    width: 300px;
    height: 1px;
    background-color: #1f2249;
    position: absolute;
    bottom: 5px;
    right: calc( 50% - 150px );
}
.policy, .post {
    padding-top: 223px;
}
.policy h1 {
    color: #db9195;
    font-size: 96px;
    font-family: arvo, serif;
    margin: 0;
    position: relative;
    margin-bottom: 128px;
}
.post h1 {
    color: #db9195;
    font-size: 96px;
    font-family: arvo, serif;
    margin: 0;
    position: relative;
    margin-bottom: 60px;
}
.policy h1 span {
    color: #1f2249;
    font-size: 48px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    position: absolute;
    left: 300px;
    bottom: -50px;
}
.policy h1 span::after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #1f2249;
  position: absolute;
  bottom: -10px;
  right: -75px;
}
.policy p, .post p {
  margin-bottom: 64px;
  color: #1F2249;
  font-size: 24px;
  font-weight: 300;
  max-width: 691px;
  line-height: 1.4;
}
.post h2 {
  color: #1F2249;
  margin: 0;
  margin-bottom: 24px;
  font-size: 32px;
}
.post h2 span {
  color: #db9195;
}
.post p {
  margin: 0 auto;
  margin-bottom: 32px;
}
.post p img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.post ul li{
  color: #1F2249;
  font-size: 24px;
  font-weight: 300;
  max-width: 691px;
  line-height: 1.4;
  margin: 0 auto;
  margin-bottom: 32px;
}
.post .related-links {
  list-style: none;
  padding: 0;
}
.p-404 {
  margin: 50px 0;
  color: #db9195;
  font-family: arvo, serif;
}
.post-link {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  max-width: none;
  line-height: 1;
  margin-bottom: 0;
  height: 60px;
}
.post-link a {
  position: relative;
  margin: auto;
  padding: 19px 22px 22px;
  transition: all 0.2s ease;
  color: #1f2249;
  text-decoration: none;
}
.post-link a:hover {
  color: #ffffff;
}

.post-link a:before {
  content: "";
  position: absolute;
  top: calc( 50% - 28px );
  left: 0;
  display: block;
  border-radius: 28px;
  background: #db9195;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.post-link a span {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  vertical-align: middle;
}
.post-link a:hover:before {
  width: 100%;
  background: #ffab9d;
}
.post-link a svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.post-link a:hover svg {
  transform: translateX(0);
}
.post-link a:hover svg path, .post-link a:hover svg polyline {
  stroke: #ffffff;
}
.policy-content {
  width: 100%;
  max-width: 691px;
  margin: 0 auto;
}
.policy-content h2 {
    color: #1F2249;
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
}
.policy-content p {
    margin-bottom: 24px;
    color: #1F2249;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    max-width: none;
}
.sharebox, .tagbox {
    display: table;
    margin: 40px auto;
}
.sharebox h3, .tagbox h3{
    color: #db9195;
    font-family: arvo, serif;
}
.sharebox a {
    height: 40px;
    width: 40px;
    text-decoration: none;
    display: inline-block;
    margin: 0 8px;
    position: relative;
}
.sharebox a svg {
    height: 40px;
    width: 40px;
}
.sharebox a svg path, .sharebox a svg circle {
    fill: #db9195;
}
.sharebox a:hover svg path, .sharebox a:hover svg circle {
  fill: #ffab9d;
}
.sharebox a:hover .h-color {
  fill: #ffab9d !important;
}


.tag {
  background: #db9195;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: 0.3s ease;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #db9195;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease;
}

.tag:hover {
  background-color: #ffab9d;
  color: white;
}

.tag:hover::after {
   border-left-color: #ffab9d;
}
.tooltiptext {
  width: 80px;
    background-color: rgba(0,0,0,0.65);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 6px;
    position: absolute;
    top: -40px;
    left: calc( 50% - 40px );
    margin-left: 0;
    display: none;
    transition: all 0.4s ease;
    font-size: 10px;
    z-index: 1;
}
#copy-blog:hover .tooltiptext {
  display: block;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 5px );
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.65) transparent transparent transparent;
}

.highlighter-rouge {
    color: #1F2249;
    font-size: 18px;
    font-weight: 300;
    max-width: 691px;
    line-height: 1.4;
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 20px;
    border-radius: 3px;
    background-color: #F8F8F9;
}
span.nc {
    color: chocolate;
}
span.p {
    color: cornflowerblue;
}
span.nl {
    color: blue;
}
span.p {
    color: cornflowerblue;
}
span.n {
    color: blueviolet;
}
span.nb {
    color: blueviolet;
}
span.nt {
    color: chocolate;
}
span.m {
    color: blueviolet;
}
span.na {
    color: blue;
}
span.s {
    color: blue;
}

@media (min-width: 992px) {
  .no-d {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .no-m {
    display: none !important
  }
  .splash {
    display: none;
  }
  .navbar-toggler:hover .header-hamburger-menu, .navbar-toggler.show .header-hamburger-menu {
    height: 100%;
    width: 100%;
    border-radius: 0%;
  }
  .navbar-toggler:hover button, .navbar-toggler.show button {
    transform: rotate(0deg);
  }
  .navbar-toggler:hover button .bar1 {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}
 .navbar-toggler.show button .bar1 {
   -webkit-transform: translateY(5px) rotate(-45deg);
   transform: translateY(5px) rotate(-45deg);
 }
 .navbar-toggler button .bar2,.navbar-toggler:hover button .bar2, .navbar-toggler.show button .bar2 {
    margin-top: 8px;
}
 .navbar-toggler button .bar1, .navbar-toggler:hover button .bar1, .navbar-toggler.show button .bar1 {
    margin-bottom: 8px;
}
 .navbar-toggler.show button .bar2 {
   -webkit-transform: translateY(-5px) rotate(45deg);
   transform: translateY(-5px) rotate(45deg);
 }
 .drawer-menu {
    padding-top: 101px;
}
 nav.left-nav.flex-box {
    z-index: 5;
}
 .drawer-menu {
    height: auto;
    min-height: 100vh;
    top: 0;
}
 .drawer-menu a {
    display: block;
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}
.drawer-menu a .drawer-small {
    display: block;
}
.drawer-seperator, .hero .scroll {
    display: none;
}
.hero {
    height: calc( 100vh + 101px );
    max-height: none;
    min-height: 100vh;
}
.hero-heading {
    font-size: 48px;
    text-align: center;
}
.btn-wrapper {
    width: 100%;
    max-width: none;
    padding-right: 0;
}
.btn-wrapper .btn {
    margin-right: auto;
}
.h2 {
    font-size: 48px;
    text-align: center;
    display: block;
}
.h2-sub {
    font-size: 24px;
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
}
.h2-sub::after {
    right: calc( 50% - 100px );
}
#next .flex-box {
  flex-wrap: wrap;
}
.services-box {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 16px;
}
.marg-bottom {
    margin-bottom: 80px !important;
}
.marg-bottom-sub-x2 {
    margin-bottom: 88px !important;
}
.line-right-bottom::after, .line-left-top::after {
  display: none;
}
.btn {
    font-size: 32px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    display: table;
    text-decoration: none;
    padding: 15px 40px;
    font-weight: 700;
    margin-left: auto;
}
.btn-default {
    color: #1F2249;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-color: #1f2249;
}
.m-wrap {
  flex-wrap: wrap;
}
.m-reverse-wrap {
  flex-wrap: wrap-reverse;
}
.two-col {
    width: 100%;
}
.two-col:first-child {
    margin-bottom: 24px;
}
.two-col-text {
    font-size: 16px;
}
.projects-carousel {
    padding: 0;
}
.two-col-big {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}
.two-col-small {
    width: 100%;
    max-width: 287px;
}
.two-col-small-header {
    font-size: 24px;
}
.two-col-small-sub-header {
    font-size: 16px;
}
.two-col-larg {
    width: 100%;
    margin-bottom: 24px
}
.two-col-smol {
    width: 100%;
    max-width: none;
}
.btn-m-smol {
    padding: 15px 15px;
}
.clients-carousel {
    padding: 0;
}
.m-no-container {
  width: 100%;
  padding: 0;
}
.clients-col-img {
    width: 100%;
    margin-bottom: 32px;
}
.clients-col-img img {
    margin: 0 auto;
}
.clients-col-text {
    width: 100%;
}
.clients-testimonial, .client-name {
    font-size: 16px;
    text-align: center;
}
.footer-col:first-child {
    display: none;
}
.footer-col:last-child {
    width: 100%;
}
.footer {
    height: auto;
}
.footer-sub {
    height: 200px;
}
.footer-col-form h2 {
    padding: 0;
}
.footer-col-form h2 .btn-default {
    border-color: #fff;
}
.footer-overlay-box {
    box-shadow: none;
    background-color: #fff;
}
.footer-contact-form {
    transition: 0.4s ease;
    transform: scaleY(0);
    height: 0;
    opacity: 0;
}
.footer-contact-form.opened {
    transform: scaleY(1);
    height: 770px;
    opacity: 1;
}
.footer .btn:hover .svg-arrow {
    height: 8px;
    width: 8px;
    padding: 4px;
}
.footer .btn.clicked .svg-arrow {
    height: 100%;
    width: 100%;
    padding: 5px;
}
.footer-sub-left a {
    margin-right: 0;
    padding: 0;
    border: 0;
    width: 60px;
}
.footer-sub-right a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 300;
    text-align: right;
    width: auto;
    margin-top: 8px;
}
.btn-fat {
  font-weight: 500 !important;
}
.footer-sub-left.flex-center, .footer-sub-right.flex-center {
    align-self: flex-end;
    padding-bottom: 26px;
}
.btn-footer {
    font-size: 24px !important;
}
.footer {
    margin-top: 250px;
}
.footer-col {
    margin-top: -120px;
}

.services-h2 svg {
    display: block;
    margin: 0 auto;
}
.services-h2 {
    font-size: 32px !important;
    text-transform: uppercase;
    line-height: 1.4;
}
.services-h2-sub {
    font-size: 16px !important;
}
.service-col-img {
    margin-bottom: 24px;
}
.services-vary-box-2, .services-vary-box-1 {
    width: 100% !important;
    max-width: 480px !important;
    margin: 0 auto 16px !important;
}
.line-right-bottom-horizontal::after {
  display: none;
}
.hero-services {
    background-position: 65% 100%;
}
.invest-page .btn-default {
  font-size: 24px;
}
.invest-page h2.hero-heading {
    font-size: 32px;
}
.m-page-heading {
    font-size: 24px;
}
.hero.hero-white {
    height: auto;
    max-height: none;
    min-height: 50vh;
}
.invest-page h2.hero-heading::after {
  display: none;
}
.invest-page .two-col-smol {
    max-width: none;
}
.hero-team {
    background-position: 30% 100%;
}
.update-box-content {
  margin-left: 0;
}
.update-box label {
    font-weight: 700;
    font-size: 16px;
    display: block;
}
.update-box-content::after {
    right: auto;
    left: 0;
    width: 250px;
}
.update-box input {
    font-size: 16px;
    padding: 12px;
}
.update-box button {
    height: 32px;
    width: 32px;
}
.update-box .arrow-space {
    height: 32px;
    width: 32px;
}
.update-box .svg-arrow {
    height: 32px;
    width: 32px;
    margin-left: 25px;
}
.contact-page .footer {
    height: auto;
}
button.btn.btn-footer.btn-m-smol {
  border: 0;
}
.policy .container, .post .container {
    padding: 0 44px;
}
.policy h1 {
    font-size: 48px;
    text-align: center;
    display: block;
    margin-bottom: 88px;
}
.post h1 {
    font-size: 48px;
    text-align: center;
    display: block;
    margin-bottom: 88px;
}
.policy h1 span {
    font-size: 24px;
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
}
.policy h1 span::after {
    right: calc( 50% - 100px );
}
.post-link a:before, .post-link a svg {
    display: none;
}
.post-link a {
  padding: 0;
  text-align: center;
  color: #fff;
}
.post-link {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    max-width: none;
    line-height: 1;
    margin-bottom: 20px;
    padding: 5px;
    height: auto;
    border-radius: 3px;
    background-color: #db9195;
    text-align: center;
}
.bg-blue {
    background-color: #1F2249;
    height: 232px;
}
}
