* {
    outline: none !important;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin: 0;
}
.container {
    display: block;
    width: 100%;
    max-width: 1310px;
    padding: 0 25px;
    margin: 0 auto;
}
.flex-box {
    display: flex;
    height: 100%;
}
.flex-center {
    align-self: center;
}
.justify-between {
    justify-content: space-between;
}
.splash {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    animation-name: disperse;
    animation-duration: 1.2s;
    animation-delay: 1.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 10;
    background-color: #fff;
}
.splash span {
  position: absolute;
  animation-name: splash;
  animation-duration: .6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  background-color: #1F2249;
  overflow: hidden;
  border-radius: 50%;
  left: 52%;
  top: 52%;
}

.splash svg {
    align-self: center;
}
@keyframes splash {
  from {height: 0;width: 0;left: 52%;top: 52%;}
  to {height: 200vw;width: 200%;left: -48%;top: -100%;}
}
@keyframes disperse {
  0% {top: 0;opacity: 1;}
  50% {top:0;opacity: 0;}
  100% {top:99999px;opacity: 0;}
}

.header {
    height: 101px;
    background-color: #DB9195;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.icon-bar {
    width: 32px;
    background-color: #fff;
    display: block;
    height: 2px;
    border-radius: 1px;
    transition: .6s ease;
}
.bar1 {
    transition: 0.4s ease;
}
.bar2 {
    margin-top: 7px;
}
nav.right-nav.flex-box {
    height: 101px;
    position: fixed;
    width: 85px;
    right: 0;
    z-index: 5;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease;
}
.navbar-toggler .header-hamburger-menu {
  transition: .4s ease;
  height: 100%;
  width: 100%;
  border-radius: 0%;
  background-color: #db9195;
  display: flex;
  justify-content: center;
}
.navbar-toggler button {
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: .4s ease;
    cursor: pointer;
}
.navbar-toggler:hover .header-hamburger-menu, .navbar-toggler.show .header-hamburger-menu {
  height: 53px;
  width: 53px;
  border-radius: 50%;
}
.navbar-toggler:hover button {
    transform: rotate(90deg);
}
.navbar-toggler.show button {
    transform: rotate(135deg);
}
.navbar-toggler:hover button .bar1, .navbar-toggler.show button .bar1 {
    -webkit-transform: translateY(-1px) rotate(90deg);
    transform: translateY(-1px) rotate(90deg);
}
.navbar-toggler:hover button .bar2, .navbar-toggler.show button .bar2 {
    margin-top: -3px;
}
.drawer-menu {
  position: fixed;
  background-color: #db9195;
  width: 0;
  height: 0;
  z-index: 4;
  top: -100vh;
  right: -100vw;
  display: flex;
  transition: 0.6s ease;
}
.drawer-menu.drawn {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
}
.drawer-menu .container {
    max-width: 1110px;
}
.drawer-seperator {
    display: inline-block;
    color: #fff;
    font-size: 64px;
    font-family: arvo, serif;
    margin: 0 16px;
}
.drawer-menu a {
    color: #fff;
    font-size: 64px;
    font-family: arvo, serif;
    text-decoration: none;
    margin-bottom: 64px;
    display: inline-block;
}
.drawer-menu a:hover {
    color: #1F2249;
}

.drawer-menu a .drawer-small {
    font-size: 16px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}



.hero {
    background-color: #1F2249;
    height: 90vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
}
.hero .flex-box {
    margin-left: 186px;
}
.hero .flex-center {
    width: 100%;
}
.hero-heading {
    color: #fff;
    font-size: 64px;
    font-family: arvo, serif;
}
.btn-wrapper {
    width: 100%;
    max-width: 870px;
    padding-right: 25px;
}
.btn {
    font-size: 32px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    display: table;
    text-decoration: none;
    padding: 15px 48px;
    font-weight: 700;
    margin-left: auto;
}
.plus-space {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    position: relative;
}
.svg-plus {
  background-color: #db9195;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: block;
  position: absolute;
  bottom: 0;
  padding: 5px;
  transition: .4s ease;
}
.btn:hover .svg-plus {
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.scroll {
    color: #db9195;
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 78px);
    text-decoration: none;
    font-weight: 700;
}
.svg-arrow {
    height: 30px;
    width: 30px;
    background-color: #db9195;
    border-radius: 50%;
    transform: rotate(90deg);
    padding: 5px;
    margin-bottom: -8px;
    margin-left: 8px;
}
