---
layout: news
title:  "Netherlands - sports news for 05 February, 2021"
description: "Bombay studio a comprehensive source for news and quick information in Netherlands"
permalink: /news/nl/sports/
prevpage: 04-02-2021
currpage: 05-02-2021
newscategory: sports
country: nl
---
{% include newstopic.html %}

<h1>Sports news <span>05 Feb, 2021</span></h1>
<div class="news-carousel">
{% for data in site.data.nlsp20210205.articles %}
  <div class="news-card">
      <a href="{{ data.url }}" rel="noopener noreferrer nofollow" target="_blank">
        <div class="news-data">
          <h2>{{ data.title | xml_escape | textilize }}</h2>
          <span>{{ data.source.name }}</span>
          <p>{{ data.description | xml_escape | textilize }}</p>
        </div>
         <div class="news-image">
          <img src="{{ data.urlToImage }}" alt="{{ data.title }}" onerror="if (this.src != '/img/news.png') this.src = '/img/news.png';">
         </div>
      </a>
    </div>
{% endfor %}
</div>