---
layout: default
title: "404 - Bombay Studio"
---

<div class="policy">
  <div class="container">
    <h1>404 - Error <span>oops! sorry about that :P</span></h1>
    <p>
      Page you were looking for does not exist, but we have lots of content for you to choose from :)
    </p>
    <div class="policy-content">
      <h2>Blog - snippets</h2>

        {% for categories in site.categories %}
        <ul>
          <h3 class="p-404">{{ categories[0] }}</h3>
          {% for post in categories[1] %}
              <li class="post-link">
              <a href="{{ post.url }}"><span>{{ post.title }}</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
            {% endfor %}
        </ul>
      {% endfor %}

    </div>
    <div class="policy-content">
      <h2>Tech News</h2>
        <ul>
          <h3 class="p-404">Get latest news</h3>
              <li class="post-link">
              <a href="/news"><span>Today's news</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
        </ul>
    </div>
  </div>
</div>
