---
layout: default
title: "Blog - Bombay Studio"
description: "I you are an explorer like us, We have tons of content in the form of snippet blog for you to choose from"
permalink: /blog
---

<div class="policy">
  <div class="container">
    <h1>Snippets <span>To the point!</span></h1>
    <p>
      I you are an explorer like us, We have tons of content in the form of snippet blog for you to choose from :)
    </p>
    <div class="policy-content">
      <h2>Blog - snippets</h2>

        {% for categories in site.categories %}
        <ul>
          <h3 class="p-404">{{ categories[0] }}</h3>
          {% for post in categories[1] %}
              <li class="post-link">
              <a href="{{ post.url }}"><span>{{ post.title }}</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
            {% endfor %}
        </ul>
      {% endfor %}

    </div>
    <div class="policy-content">
      <h2>Tech News</h2>
        <ul>
          <h3 class="p-404">Get latest news</h3>
              <li class="post-link">
              <a href="/news"><span>Today's news</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
        </ul>
    </div>
    <div class="policy-content">
      <h2>World News</h2>
        <ul>
          <h3 class="p-404">Get latest news</h3>
              <li class="post-link">
              <a href="/news/be"><span>Belgium</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
              <li class="post-link">
              <a href="/news/fr"><span>France</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
              <li class="post-link">
              <a href="/news/de"><span>Germany</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
              <li class="post-link">
              <a href="/news/in"><span>India</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
              <li class="post-link">
              <a href="/news/nl"><span>Netherlands</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
              <li class="post-link">
              <a href="/news/us"><span>United States</span><svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></a>
              </li>
        </ul>
    </div>
  </div>
</div>
