---
layout: default
title: "Bombay Studio"
permalink: /
---

<div class="hero marg-bottom">
  <div class="flex-box container">
    <div class="flex-center">
      <h1 class="hero-heading">Want to build <br>a high-performing <br>e-commerce brand?</h1>
      <div class="btn-wrapper">
        <a class="btn" href="/services">Yes, please <span class="plus-space">{% include icon-plus.html %}</span></a>
      </div>
    </div>
  </div>
  <a href="#next" class="scroll" data-no-swup>Get to know us {% include icon-arrow.html %}</a>
</div>

<div class="marg-bottom" id="next">
  <div class="container rel line-right-bottom">
      <h2 class="h2 marg-bottom-sub-x2">Services<span class="h2-sub">Our bread and butter</span></h2>
      <div class="flex-box justify-between marg-bottom-sm">
        <div class="services-box">
          <svg class="svg-1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><defs><style>.ic-1{fill:none;stroke:#1f2249;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}</style></defs><g transform="translate(2 8)"><path class="ic-1" d="M27,12h1.575a6.3,6.3,0,1,1,0,12.6H27" transform="translate(-1.275 -0.555)"/><path class="ic-1" d="M3,12H28.2V26.175a6.3,6.3,0,0,1-6.3,6.3H9.3a6.3,6.3,0,0,1-6.3-6.3Z" transform="translate(-3 -0.475)"/><path class="ic-1 ic-1-1" d="M9,1.5V6.225" transform="translate(-2.6 -1.5)"/><path class="ic-1 ic-1-2" d="M15,1.5V6.225" transform="translate(-2.2 -1.5)"/><path class="ic-1 ic-1-3" d="M21,1.5V6.225" transform="translate(-1.8 -1.5)"/></g></svg>
          <div class="services-box-title">
            Listen
          </div>
          <div class="services-box-text">
            We’re not looking for a fling, but a long term relationship.<br> But let’s start at the beginning, tell us your story. We are here to listen.
          </div>
        </div>
        <div class="services-box">
          <svg class="svg-2" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><defs><style>.ic-2{fill:#1f2249;fill-rule:evenodd;}</style></defs><path class="ic-2" d="M8,6,4,2H2V4L6,8Zm2-6h2V4H10Zm8,10h4v2H18Zm2-6V2H18L14,6l2,2ZM0,10H4v2H0Zm10,8h2v4H10ZM2,18v2H4l4-4L6,14Zm29.563,9.563L11.684,7.684a1.5,1.5,0,0,0-2.121,0L7.684,9.563a1.5,1.5,0,0,0,0,2.121L27.563,31.563a1.5,1.5,0,0,0,2.121,0l1.879-1.879A1.5,1.5,0,0,0,31.563,27.563ZM15,17,9,11l2-2,6,6Z"/></svg>
          <div class="services-box-title">
            Marketing & Branding
          </div>
          <div class="services-box-text">
            Knowing your place in the market is important but knowing how to change your place is even more important. We are here to help you with that!
          </div>
        </div>
        <div class="services-box">
          <svg class="svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54.72" height="50" viewBox="0 0 54.72 50"><defs><style>.a-x,.c-x{fill:#1f2249;}.b-x{clip-path:url(#a);}.c-x{fill-rule:evenodd;}</style><clipPath id="a-x"><rect class="a-x" width="54.72" height="32" transform="translate(215 1238.422)"/></clipPath></defs><g class="b-x" transform="translate(-215 -1238.422)"><g transform="translate(214.187 1237.863)"><path class="c-x c-1" d="M307.266,95.407l4.4,4.324,14.662-14.412L311.664,70.908l-4.4,4.323,10.263,10.088Z" transform="translate(-270.612 -69.039)"/><path class="c-x c-2" d="M30.878,75.231l-4.4-4.323L11.818,85.319,26.48,99.731l4.4-4.324L20.615,85.319Z" transform="translate(-11.818 -69.039)"/><path class="c-x" d="M196.89,55.589l3.183.853-8.8,31.707-3.183-.853,8.8-31.707Z" transform="translate(-166.225 -55.589)"/></g></g></svg>
          <div class="services-box-title">
            Design & Development
          </div>
          <div class="services-box-text">
            Ok, we have a product, a plan, the money to do this and our marketing on point. Let’s e-commerce your product! Website or webshop, we do it all.
          </div>
        </div>
      </div>
      <a class="btn btn-default" href="/services">Learn more <span class="plus-space">{% include icon-plus.html %}</span></a>
  </div>
</div>

<div class="marg-bottom bg-box">
  <div class="container">
    <h2 class="h2 marg-bottom-sub-x2">Ecosystem<span class="h2-sub h2-sub-3">The rise of complexity</span></h2>
      <div class="flex-box justify-between m-wrap">
      <div class="service-col-img two-col-smol">
        <img src="/img/Home/ecosystem.png" alt="the complex ecosystem of ecommerce">
      </div>
        <div class="service-col-text two-col-larg flex-center">
          <div class="two-col-text">
            E-commerce companies rely on a lot of platforms, tools and systems. We help you set up an efficient ecosystem of tools so you can focus on growing your business.<br><br>
             We rely on two major platforms to do this. Odoo a suite of business tools (CRM, ERP, invoicing tool, etc) and Shopify the most powerful eCommerce platform out there.<br><br>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2">Projects<span class="h2-sub h2-sub-3">The good stuff</span></h2>
      <div class="projects-carousel">
        <div class="flex-box justify-between">
          <div class="two-col-big rel">
            <img src="/img/Home/images-bombay-2-01a.png" alt="Stays">
            <span class="project-info">Brand <br> Imagery <br>Shopify <br>Product <br>Back-end</span>
          </div>
          <div class="two-col-small">
            <div class="two-col-small-header">
              Stays
            </div>
            <div class="two-col-small-sub-header">
              Artificial flowers
            </div>
            <div class="two-col-small-text marg-bottom-sub line-left-top rel">
              Stays is our own self funded brand that sells artificial flowers and plants. We do this in collaboration with two wonderful people.<br><br><br>
               Everything digital was created by Bombay. Which means the webshop, the imagery but also the inventory system linked up with our courier.
            </div>
          </div>
        </div>
        <div class="flex-box justify-between">
          <div class="two-col-big rel">
            <img src="/img/Home/images-bombay-fully-01a.png" alt="Fully">
            <span class="project-info">Brand <br> Imagery <br>Shopify <br>Product <br>Back-end</span>

          </div>
          <div class="two-col-small">
            <div class="two-col-small-header">
              Fully
            </div>
            <div class="two-col-small-sub-header">
              Office furniture
            </div>
            <div class="two-col-small-text marg-bottom-sub line-left-top rel">
              It all started with Jaswig that was acquired by Fully. We started Jaswig in 2015 with a group of friends. It was our first e-commerce brand we sold ergonomic furniture that we designed and manufactured ourselves.<br><br><br>
               Later we got acquired by Fully after which we were responsible for the launch of the Fully brand, website, logistics and customer service throughout Europe. We achieved enormous growth in the whole of Europe.
            </div>
          </div>
        </div>
        <div class="flex-box justify-between">
          <div class="two-col-big rel">
            <img src="/img/Home/images-bombay-stickerpet-01a.png" alt="Stickerpet">
            <span class="project-info">Brand <br> Imagery <br>Shopify <br>Product <br>Back-end</span>
          </div>
          <div class="two-col-small">
            <div class="two-col-small-header">
              Sticker pet
            </div>
            <div class="two-col-small-sub-header">
              Cut out stickers
            </div>
            <div class="two-col-small-text marg-bottom-sub line-left-top rel">
              Sticker Pet is a self funded brand that we created out of the love for our dog Alaska. Sticker Pet creates beautifull, high quality cutout stickers of your pet.<br><br><br>
               Everything digital was created by Bombay. Which means the webshop, the imagery but also the inventory system linked up with our courier.
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="marg-bottom bg-box">
  <div class="container rel line-right-bottom">
      <h2 class="h2 marg-bottom-sub-x2">Team<span class="h2-sub h2-sub-4">The best In the business</span></h2>
      <div class="flex-box justify-between m-reverse-wrap">
        <div class="two-col-smol flex-center">
          <div class="two-col-text marg-bottom-sub no-m">
            We are a group of business optimists around the world, who want to help your company flourish!
          </div>
          <a class="btn btn-default btn-m-smol" href="/team">Get to know us <span class="plus-space">{% include icon-plus.html %}</span></a>
        </div>
          <div class="two-col-larg">
            <img src="/img/bombay-remote-zoom-01.png" alt="bombay's remote team">
          </div>
      </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container m-no-container">
      <h2 class="h2 marg-bottom-sub-x2">Clients<span class="h2-sub h2-sub-5">Real good people</span></h2>
      <div class="clients-carousel">
        <div class="flex-box justify-between clients-box m-wrap">
          <div class="clients-col-img flex-center">
            <img src="/img/Home/Mathias Ellegiers.jpeg" alt="Mathias Ellegiers">
          </div>
          <div class="clients-col-text">
            <div class="clients-testimonial">
              We've launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve show to provide valuable input on strategy as well.
            </div>
            <div class="client-name">
              Mathias Ellegiers - Co-Founder Stashed / Ono Drinks
            </div>
          </div>
        </div>
        <div class="flex-box justify-between clients-box">
          <div class="clients-col-img flex-center">
            <img src="/img/Home/Niels Desot.jpeg" alt="Niels Desot">
          </div>
          <div class="clients-col-text">
            <div class="clients-testimonial">
              I run a marketing agency and the Bombay people are our go to agency when we have technical questions. They love what they do and really want to go for it!
            </div>
            <div class="client-name">
              Niels Desot - Co-Founder Dear Digital
            </div>
          </div>
        </div>
        <div class="flex-box justify-between clients-box">
          <div class="clients-col-img flex-center">
            <img src="/img/Home/Wouter Noterman.jpeg" alt="Wouter Noterman">
          </div>
          <div class="clients-col-text">
            <div class="clients-testimonial">
              It is just such a pleasure to work with these people, they are fast, think with you as they been through this a number of times already. Ecommerce is their thing, they love it. And you feel that.
            </div>
            <div class="client-name">
              Wouter Noterman - Director Novavo NV
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
