---
layout: default
title: "Investments - Bombay Studio"
permalink: /investments
---
<div class="hero hero-invest marg-bottom">
  <div class="flex-box container">
    <div class="flex-center">
      <h1 class="hero-heading">We start, buy & invest in online brands that we love.</h1>
    </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <div class="flex-box justify-between m-reverse-wrap">
        <div class="service-col-text two-col-larg flex-center">
          <div class="two-col-text">
            We really like working in e-commerce. It brings technology and products together while creating real human relations.<br><br>
             Do you have an idea but no funds? Want to scale your business but don’t have the cash to invest in your business?<br><br>
              We can help! Tell us your story, show us your product. If we love it as much as you do, we have a deal!
          </div>
        </div>
        <div class="service-col-img two-col-smol">
          <img src="/img/invest/Image.png" alt="">
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom bg-box">
  <div class="container rel line-right-bottom">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">Why do business with us?<span class="services-h2-sub h2-sub h2-sub-10">We know our stuff, trust us</span></h2>
      <div class="flex-box justify-between marg-bottom-sm m-wrap">
        <div class="services-box">
          <div class="services-box-title">
            Experience
          </div>
          <div class="services-box-text">
            We’ve been working for and starting online brands for a couple of years now. And to be honest we just love it.<br><br> Launch, measure, adjust and repeat. Gotta stay agile in this type of business!<br><br> We have already been through a couple of deals before and thus know what to look out for.
          </div>
        </div>
        <div class="services-box">
          <div class="services-box-title">
            Culture
          </div>
          <div class="services-box-text">
            For us, working together with people you like is fundamental rule number one.<br><br> There must be that initial, good old gut feeling that feels just right. This drives us forward and helps us thrive.<br><br> We will not seek to overthrow your current operations nor are we looking to put in new managers.
          </div>
        </div>
        <div class="services-box">
          <div class="services-box-title">
            Fast
          </div>
          <div class="services-box-text">
            We are a small team and we want to keep it that way. We want to keep moving fast.<br><br> Expect fast, concrete and honest answers from us.<br><br> Because we want to move fast we are not looking for complicated deal structures. Simple straightforward offers are what we aim for.
          </div>
        </div>
      </div>
      <a class="btn btn-default btn-right" href="/contact">Let’s connect <span class="plus-space">{% include icon-plus.html %}</span></a>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
    <h2 class="h2 marg-bottom-sub-x2 services-h2">What are we looking for?<span class="services-h2-sub h2-sub h2-sub-11">Let’s get It right from the start</span></h2>
      <div class="flex-box justify-between m-wrap">
      <div class="service-col-img two-col-smol">
        <img src="/img/invest/Image.png" alt="">
      </div>
        <div class="service-col-text two-col-larg flex-center">
          <div class="two-col-text">
            We buy or invest in wonderfull e-commerce businesses.<br><br>
             Do you have an idea but no funds? Want to scale your business but don’t have the cash to invest in your business? Or simply want to exit?<br><br>
             We would love to help!<br><br>
              Tell us your story, show us your product. If we love it as much as you do, we have a deal!
          </div>
        </div>
      </div>
  </div>
</div>

<div class="hero hero-white marg-bottom hero-offwhite">
  <div class="flex-box container">
    <div class="flex-center">
      <h2 class="hero-heading">Tell us your story,<br> and let’s e-commerce your product</h2>
      <a class="btn btn-default btn-right btn-m-smol" href="/contact">Let’s grab a cup of Joe <span class="plus-space">{% include icon-plus.html %}</span></a>
    </div>
  </div>
  <a href="#scout" class="scroll" data-no-swup>Or become a scout {% include icon-arrow.html %}</a>
</div>

<div class="marg-bottom" id="scout">
  <div class="container">
    <h2 class="h2 marg-bottom-sub-x2 services-h2">Become a scout<span class="services-h2-sub h2-sub h2-sub-12">We’ll make It worth your while</span></h2>
      <div class="flex-box justify-between m-reverse-wrap">
        <div class="service-col-text two-col-larg flex-center line-left-top rel">
          <div class="two-col-text">
            Know someone we should talk to and want to earn some extra cash?<br><br>
             Contact us and tell us about this business. We’ll tell you within a few business days if we’re interested.<br><br>
             If we end up investing in the company, you’ll get your commission.<br><br>
              Pinky promise!
          </div>
        </div>
      <div class="service-col-img two-col-smol">
        <img src="/img/invest/91640993_302695427375679_106163868886563211_n.png" alt="">
      </div>
    </div>
  </div>
</div>
