---
layout: default
title: "Services - Bombay Studio"
permalink: /services
---
<div class="hero hero-services marg-bottom">
  <div class="flex-box container">
    <div class="flex-center">
      <h1 class="hero-heading">Let’s start at the beginning, tell us your story.</h1>
    </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-search.html %}Market research<span class="services-h2-sub h2-sub h2-sub-6">Knowledge is key</span></h2>
      <div class="flex-box justify-between m-reverse-wrap">
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            Let’s look at your business plan and make sure you thought of everything. Don’t have one yet? No problem, we can do it together.<br><br>
             We will think about who your clients are and how we can best reach them. So that we build the best solution to your unique product.<br><br>
             Last but not least we will research the competition. We need to know what they are doing and what we can do better!
          </div>
        </div>
        <div class="service-col-img two-col">
          <img src="/img/Services/Afbeelding-3@2x.png" alt="">
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom bg-box">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-euro.html %}Investments<span class="services-h2-sub h2-sub h2-sub-2">We invest In brands we love</span></h2>
      <div class="flex-box justify-between m-wrap">
        <div class="two-col">
          <img src="/img/Home/invest.png" alt="">
        </div>
        <div class="two-col line-left-top rel">
          <div class="two-col-text marg-bottom-sub">
            We buy or invest in Wonderfull e-commerce businesses.<br><br>
             Do you have an idea but no funds? Want to scale your business but don’t have the cash to invest in your business? We can help!<br><br>
              Tell us your story, show us your product. If we love it as much as you do, we have a deal!
          </div>
          <a class="btn btn-default" href="/investments">Learn more <span class="plus-space">{% include icon-plus.html %}</span></a>
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-wand.html %}Marketing & branding<span class="services-h2-sub h2-sub h2-sub-7">Find your why</span></h2>
      <div class="flex-box justify-between marg-bottom-sub m-reverse-wrap">
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            Finding a sound position in the market is extremely important.<br><br>
             We can help you analyse where you are and help you decide where you want to go next.<br><br>
              We can also help you create visual assets (images and video) because as they are the cornerstone of a good online marketing strategy.
          </div>
        </div>
        <div class="service-col-img two-col">
          <img src="/img/Services/Afbeelding-2@2x.png" alt="">
        </div>
      </div>
      <div class="services-blocks flex-box justify-between">
        <div class="services-vary-box-1">
          <div class="services-box-title">
            Brand analysis
          </div>
          <div class="services-box-text">
            To make sure we understand the current situation we’ll have a look at all the data that you have available.<br><br> We’ll help you structure it so we can draw conclusions. Metrics we look at: SEO, SEA and Socials.
          </div>
        </div>
        <div class="services-vary-box-2">
          <div class="services-box-title">
            Brand potential
          </div>
          <div class="services-box-text">
            Now that we know where we are we can help. Decide where to go next and make it concrete.<br><br> This is a step we need to do together of course so it is thoroughly aligned with the goals of the business.
          </div>
        </div>
        <div class="services-vary-box-2">
          <div class="services-box-title">
            Product photography
          </div>
          <div class="services-box-text">
            People love great images. We can help you create the images that you need to make your brand stand out.
          </div>
        </div>
        <div class="services-vary-box-1">
          <div class="services-box-title">
            Implementation
          </div>
          <div class="services-box-text">
            We can implement everything for you but we can also help you implement it yourself.
          </div>
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom bg-box">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-code.html %}Design & development<span class="services-h2-sub h2-sub h2-sub-8">E-commerce your product</span></h2>
      <div class="flex-box justify-between marg-bottom-sub m-wrap">
      <div class="service-col-img two-col">
        <img src="/img/Services/Afbeelding-1@2x.png" alt="">
      </div>
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            Finding a sound position in the market is extremely important.<br><br>
             We can help you analyse where you are and help you decide where you want to go next.<br><br>
              We can also help you create visual assets (images and video) because as they are the cornerstone of a good online marketing strategy.
          </div>
        </div>
      </div>
      <div class="flex-box justify-between marg-bottom-sm rel line-right-bottom-horizontal m-wrap">
        <div class="services-box">
          <div class="services-box-title">
            Experience
          </div>
          <div class="services-box-text">
            We listen to your story with the goal to deeply understand your brand and needs.<br><br> We then create wireframes and later build a beautiful design around that.
          </div>
        </div>
        <div class="services-box">
          <div class="services-box-title">
            Clients
          </div>
          <div class="services-box-text">
            In this stage we find the best possible technical implementation to make sure your site is not only a joy to look at but also responsive, fast, safe and interactive.
          </div>
        </div>
        <div class="services-box">
          <div class="services-box-title">
            Competition
          </div>
          <div class="services-box-text">
            We help you launch the thing but also track how it performs and what we could do in the future to make it even better.<br><br> Agility is key in the fast pace world that we currently live in.
          </div>
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-market.html %}Back-end integration<span class="services-h2-sub h2-sub h2-sub-9">Follow through</span></h2>
      <div class="flex-box justify-between m-wrap">
      <div class="service-col-img two-col">
        <img src="/img/Services/Afbeelding@2x.png" alt="">
      </div>
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            We have launched a couple of brands ourselves and have seen first hand what the impact of good integrations can have on the overall business!<br><br>
             We can connect to your ERP system, third party marketplaces and accounting software.
          </div>
        </div>
      </div>
  </div>
</div>
