---
layout: default
title: "Services - Bombay Studio"
permalink: /services
---
<div class="hero hero-services marg-bottom">
  <div class="flex-box container">
    <div class="flex-center">
      <h1 class="hero-heading">What we're<br>good at.</h1>
    </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-search.html %}Let's zoom out<span class="services-h2-sub h2-sub h2-sub-6">Understanding your business</span></h2>
      <div class="flex-box justify-between m-reverse-wrap">
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            You cannot set yourself up for high growth without really thoroughly understanding your business. What are you aiming at in the long run? What are the market mechanisms at play?<br><br>
            We discuss these important questions with you to explore what the next years of high growth should look like.<br><br>
          </div>
        </div>
        <div class="service-col-img two-col">
          <img src="/img/Services/Afbeelding-3@2x.png" alt="">
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom bg-box">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-code.html %}Design & development<span class="services-h2-sub h2-sub h2-sub-8">E-commerce your product</span></h2>
      <div class="flex-box justify-between marg-bottom-sub m-wrap">
      <div class="service-col-img two-col">
        <img src="/img/Services/Afbeelding-1@2x.png" alt="">
      </div>
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            Online brands thrive because of unique products and a clear vision. They need to be supported by well built, robust and beautiful digital interfaces.<br><br>
            We do everything from a single store to international multi-language, multi-currency and omnichannel stores.<br><br>
            We like building on Shopify, Lightspeed and Magento depending on your needs.
          </div>
        </div>
      </div>
      <div class="flex-box justify-between marg-bottom-sm rel line-right-bottom-horizontal m-wrap">
        <div class="services-box">
          <div class="services-box-title">
            1. Understand
          </div>
          <div class="services-box-text">
            We listen to your story with the goal to deeply understand your brand and needs.<br><br> We then create wireframes and later build a beautiful and optimised design around that.
          </div>
        </div>
        <div class="services-box">
          <div class="services-box-title">
            2. Develop
          </div>
          <div class="services-box-text">
            In this stage we find the best possible technical implementation to make sure your site is not only a joy to look at but also responsive, fast, safe and interactive.
          </div>
        </div>
        <div class="services-box">
          <div class="services-box-title">
            3. Improve
          </div>
          <div class="services-box-text">
            We help you launch the thing but also track how it performs and what we could do in the future to make it even better.<br><br> Agility is key in this fast paced world we currently live in.
          </div>
        </div>
      </div>
  </div>
</div>

<div class="marg-bottom">
  <div class="container">
      <h2 class="h2 marg-bottom-sub-x2 services-h2">{% include icon-wand.html %}Deeply integrate<span class="services-h2-sub h2-sub h2-sub-7">Creating a robust platform layer</span></h2>
      <div class="flex-box justify-between marg-bottom-sub m-reverse-wrap">
        <div class="service-col-text two-col flex-center">
          <div class="two-col-text">
            A flashy website is cool, but what's even cooler is having automated processes in place that handle the repetitive work. So you can focus on building your business. As e-commerce entrepeneurs ourselves we have felt the pain of badly integrated systems and will do everything to prevent this.<br><br>
            We will focus really hard on this aspect as we believe a brand is only as powerful as the backend operating speed.<br>
          </div>
        </div>
        <div class="service-col-img two-col">
          <img src="/img/Services/warehouse-integrations.jpg" alt="">
        </div>
      </div>
      <div class="services-blocks flex-box justify-between">
        <div class="services-vary-box-1">
          <div class="services-box-title">
            ERP
          </div>
          <div class="services-box-text">
            Managing your enterprise’s resources efficiently is one of the key areas of focus. Making sure you know what the stock levels are when new batches arrive are key to every e-commerce company.
          </div>
        </div>
        <div class="services-vary-box-2">
          <div class="services-box-title">
            CRM
          </div>
          <div class="services-box-text">
            Every company is focussed on creating the best possible bond with their customers. This can only be done with a powerful CRM tool that is perfectly integrated with all the other parts of your business.<br>
          </div>
        </div>
        <div class="services-vary-box-2">
          <div class="services-box-title">
            Business intelligence
          </div>
          <div class="services-box-text">
            We help you set up a system so that you can convert your data into knowledge. Connect the dots and become the great capital allocator you should be but now can’t.
          </div>
        </div>
        <div class="services-vary-box-1">
          <div class="services-box-title">
            Invoicing
          </div>
          <div class="services-box-text">
            Every business needs to keep track of its invoices, in even more detail when you are selling across the EU.
          </div>
        </div>
      </div>
  </div>
</div>
