<h2 id="gallery"> Gallery </h2>
<div id="links">
    <a href="/assets/images/1-autumn-dreams-francesca-kee.jpg" title="1-autumn-dreams-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/1-autumn-dreams-francesca-kee.jpg" alt="1-autumn-dreams-francesca-kee">
    </a>
    <a href="/assets/images/a-cup-of-coffee-francesca-kee.jpg" title="a-cup-of-coffee-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/a-cup-of-coffee-francesca-kee.jpg" alt="a-cup-of-coffee-francesca-kee">
    </a>
    <a href="/assets/images/a-girl-francesca-kee.jpg" title="a-girl-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/a-girl-francesca-kee.jpg" alt="a-girl-francesca-kee">
    </a>
    <a href="/assets/images/alstroemeria-francesca-kee.jpg" title="alstroemeria-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/alstroemeria-francesca-kee.jpg" alt="alstroemeria-francesca-kee">
    </a>
    <a href="/assets/images/ballet-francesca-kee.jpg" title="ballet-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/ballet-francesca-kee.jpg" alt="ballet-francesca-kee">
    </a>
    <a href="/assets/images/buffaloes-francesca-kee.jpg" title="buffaloes-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/buffaloes-francesca-kee.jpg" alt="buffaloes-francesca-kee">
    </a>
    <a href="/assets/images/cathedral-rock-francesca-kee.jpg" title="cathedral-rock-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/cathedral-rock-francesca-kee.jpg" alt="cathedral-rock-francesca-kee">
    </a>
    <a href="/assets/images/champagne-rose-francesca-kee.jpg" title="champagne-rose-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/champagne-rose-francesca-kee.jpg" alt="champagne-rose-francesca-kee">
    </a>
    <a href="/assets/images/classical-and-modern-francesca-kee.jpg" title="classical-and-modern-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/classical-and-modern-francesca-kee.jpg" alt="classical-and-modern-francesca-kee">
    </a>
    <a href="/assets/images/clear-creek-in-golden-colorado-francesca-kee.jpg" title="clear-creek-in-golden-colorado-francesca-kee" data-gallery>
        <img src="/assets/images/thumb/clear-creek-in-golden-colorado-francesca-kee.jpg" alt="clear-creek-in-golden-colorado-francesca-kee">
    </a>
</div>
