<!-- Header Start -->
<header class="header">
  <div class="container flex-box justify-between">
  <nav class="left-nav flex-box">
    <a class="flex-center" href="/">{% include icon-bombay.html %}</a>
  </nav>
  <nav class="right-nav flex-box navbar-toggler">
    <nav class="header-hamburger-menu flex-center">
      <button type="button">
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
      </button>
    </nav>
  </nav>
  </div>
  <div class="drawer-menu">
    <div class="container flex-center">
      <a href="/">Home <span class="drawer-small">is where our heart is</span></a><span class="drawer-seperator">/</span>
      <a href="/services">Services <span class="drawer-small">What we live for</span></a><span class="drawer-seperator">/</span>
      <a href="/investments">Investments <span class="drawer-small">Fun products</span></a><span class="drawer-seperator">/</span>
      <a href="/team">Team <span class="drawer-small">The best in the business</span></a><span class="drawer-seperator">/</span>
      <a href="/contact">Contact <span class="drawer-small">Connecting the dots</span></a><span class="drawer-seperator">/</span>
    </div>
  </div>
</header>
