<header class="container-fluid marg-top">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between">

  <div>
    <a class="navbar-brand mr-auto" href="#">
      <img class="logo" src="/assets/images/logo_schadeberekenaar.png" alt="Logo">
    </a>
  </div>

  <div class="center-it">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="margin: 0 auto;">
        <a class="nav-link match-logo1 header-title" href="#">INTRO</a>
      </li>
    </ul>
  </div>

<label id="skip-nav" for="checkbox_toggle" class="skip-nav">
        <input type="checkbox" id="checkbox_toggle">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="nav-mobile">
          <div class="nav-mobile-inner">
            <label for="checkbox_toggle" class="nav-mobile-close">×</label>
            <ul>
              <li class="nav-mobile-top-bar">
                <a class="" href="">Over ons </a>
              </li>
              <li>
                <a class="" href="">Tarief</a>
              </li>
              <li>
                <a class="" href="">Contact</a>
              </li>
              <li>
                <a class="" href="">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </label>

  </nav>
</header>
<link rel="stylesheet" href="/assets/css/questionare.css">
