<!-- Header Start -->
<header class="{% if page.permalink != '/' %}marg-bottom-xxl{% else %}marg-bottom{% endif %}">
  <div class="header-purple">
      <div class="header w-nav">
          <div class="container">
              <a href="/" class="logo-container w-nav-brand">
                  <img src="/img/bombay-logo-3-01.png" alt="" class="logo purple"/>
              </a>
              <nav class="nav-menu-container w-nav-menu">
                  <div class="nav-items-container">
                      <div class="nav-links-container">
                          <a href="/what" aria-current="page" class="nav-menu-link white w-nav-link {% if page.permalink == '/what/' %}w--current{% endif %}">What</a>
                          <a href="/about" class="nav-menu-link white w-nav-link {% if page.permalink == '/about/' %}w--current{% endif %}">About</a>
                          <a href="/invest" class="nav-menu-link white w-nav-link {% if page.permalink == '/invest/' %}w--current{% endif %}">Invest</a>
                          <a href="/contact" class="nav-menu-link white box-nav w-nav-link">Contact</a>
                      </div>
                  </div>
              </nav>
              <div class="menu-mobile w-nav-button">
                  <div class="close-menu">Close</div>
                  <div class="hamburger-menu">
                      <div class="hamburger-menu-line top"></div>
                      <div class="hamburger-menu-line center"></div>
                      <div class="hamburger-menu-line bottom"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header><!-- header close -->
