</div>
</div>
<div class="footer-v2 footer-projects">
<div class="container-default">
    <div class="w-layout-grid grid-footer">
        <div>
            <a href="#" class="navigation-text colo-white bold-nav mg-bottom-37px" style="border-bottom: 0;color: #fff !important;">
                Cookies
            </a>
            <br>
            <a href="#" class="navigation-text colo-white bold-nav" style="border-bottom: 0;color: #fff !important;">
                Privacy
            </a>
        </div>
        <div id="w-node-26a2e50e6c6f-e50e6c65">
            <div class="footer-form w-form">
                <form data-redirect="/thanks" name="wf-form-Footer" data-name="Footer" redirect="/thanks" id="wf-form-Footer" action="https://metalab.us19.list-manage.com/subscribe/post?u=b51344bb564419e950a3d85e0&amp;amp;id=ccd54f98e2" method="post">
                    <div class="mg-bottom-37px">
                        <label for="name" class="navigation-text colo-white bold-nav">Update me, please</label>
                    </div>
                    <div class="input-form-container">
                        <input type="email" class="input-footer w-input" maxlength="256" name="email" data-name="email" placeholder="Your email" id="email" required=""/>
                        <input type="submit" value="->" data-wait="" class="button-form-footer w-button"/>
                    </div>
                </form>
                <div class="succes-message-white w-form-done">
                    <div>You &#x27;re subscribed!</div>
                </div>
                <div class="error-message left w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
