---
layout: news
title:  "France - science news for 02 March, 2021"
description: "Bombay studio a comprehensive source for news and quick information in France"
permalink: /news/fr/science/02-03-2021
prevpage: 01-03-2021
currpage: 02-03-2021
newscategory: science
country: fr
---
{% include newstopic.html %}

<h1>Science news <span>02 Mar, 2021</span></h1>
<div class="news-carousel">
{% for data in site.data.frsc20210302.articles %}
  <div class="news-card">
      <a href="{{ data.url }}" rel="noopener noreferrer nofollow" target="_blank">
        <div class="news-data">
          <h2>{{ data.title | xml_escape | textilize }}</h2>
          <span>{{ data.source.name }}</span>
          <p>{{ data.description | xml_escape | textilize }}</p>
        </div>
         <div class="news-image">
          <img src="{{ data.urlToImage }}" alt="{{ data.title }}" onerror="if (this.src != '/img/news.png') this.src = '/img/news.png';">
         </div>
      </a>
    </div>
{% endfor %}
</div>