---
layout: news
title:  "Germany - entertainment news for 11 February, 2021"
description: "Bombay studio a comprehensive source for news and quick information in Germany"
permalink: /news/de/entertainment/11-02-2021
prevpage: 10-02-2021
currpage: 11-02-2021
newscategory: entertainment
country: de
---
{% include newstopic.html %}

<h1>Entertainment news <span>11 Feb, 2021</span></h1>
<div class="news-carousel">
{% for data in site.data.deen20210211.articles %}
  <div class="news-card">
      <a href="{{ data.url }}" rel="noopener noreferrer nofollow" target="_blank">
        <div class="news-data">
          <h2>{{ data.title | xml_escape | textilize }}</h2>
          <span>{{ data.source.name }}</span>
          <p>{{ data.description | xml_escape | textilize }}</p>
        </div>
         <div class="news-image">
          <img src="{{ data.urlToImage }}" alt="{{ data.title }}" onerror="if (this.src != '/img/news.png') this.src = '/img/news.png';">
         </div>
      </a>
    </div>
{% endfor %}
</div>