.orange-btn {
  background-color: inherit !important;
  border-color: transparent !important;
  color: #fff !important;
  height: 60px;
  line-height: 60px;
  width: 300px;
  position: relative;
  font-size: 17px;
  margin: 0;
  padding-top: 0;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1px;
}

#controls .orange-btn {
  height: 50px;
  line-height: 50px;
  width: 225px;
  font-size: 17px;
  margin: 0 auto;
  display: block;
}

.progress {
  display: block;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e0e0e0;
  border-radius: .25rem;
  width: 80%;
  max-width: 560px;
  margin: 0 auto;
  vertical-align: middle;
    margin-top: 22px;
}

.progress-bar {
    background-color: #27a330;
}

 .inline-blk {
   display: inline-block;
 }

.orange-btn:hover {
    background-color: #fff !important;
    border-color: #081b33 !important;
    color: #081b33 !important;
}

.arrow-hover {
  fill: #fff !important;
}

.orange-btn:hover .arrow-hover {
  fill: #081b33 !important;
}

.orange-btn:after, .orange-btn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(120deg, #081b34 0%, #0b2f5f 100%);
  border-radius: 4px;
  left: 0;
  z-index: -1;
  transition: opacity 200ms ease;
}

.orange-btn .arr-icon, .quiz-btn .arr-icon {
  position: absolute;
    right: 15px;
    top: calc(50% - 15px);
}

.orange-btn .arr-icon-left {
    position: absolute;
    left: 15px;
    top: calc(50% - 15px);
}

.quiz-btn .arr-icon {
    right: 20px;
}

.dnt-show {
    -webkit-animation-name: hide;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
}

@-webkit-keyframes hide {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
    }
}

.active {
    -webkit-animation-name: show;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
}

@-webkit-keyframes show {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes show {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.disp-non {
    display: none
}

.disable {
    opacity: 0.3
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: #FFD524;
    border-radius: 4px
}

input[type=range]::-webkit-slider-thumb {
    border: 4px solid #FFD524;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    background: #FBFAF8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFD524
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #FFD524;
    border-radius: 1.3px;
    border: 0.2px solid #010101
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent
}

input[type=range]::-ms-fill-lower {
    background: #FFD524;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
}

input[type=range]::-ms-fill-upper {
    background: #FFD524;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer
}

input[type=range]:focus::-ms-fill-lower {
    background: #FFD524
}

input[type=range]:focus::-ms-fill-upper {
    background: #FFD524
}

input[type=text] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 0px;
    font-size: 20px;
    left: 6px;
    width: 65px;
    margin-left: 40px
}

input[type=text]:focus {
    outline: 0
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

input::-webkit-input-placeholder {
    font-size: 15px;
    color: rgba(28,27,26,0.5)
}

input:-moz-placeholder {
    font-size: 15px;
    color: rgba(28,27,26,0.5)
}

input::-moz-placeholder {
    font-size: 15px;
    color: rgba(28,27,26,0.5)
}

input:-ms-input-placeholder {
    font-size: 15px;
    color: rgba(28,27,26,0.5)
}

.round {
    border-radius: 40px;
    height: 25vw;
    width: 20vw;
    margin-right: 20px
}

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    border-radius: 3px;
    display: inline-block !important;
    position: relative !important;
    margin: 0px;
    float: left !important;
    padding: 18px !important;
    opacity: 1 !important;
}

.regular-checkbox:checked {
    background-color: #FFD524;
    border: 1px solid #FFD524;
    color: #fff
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #fff
}

.big-checkbox {
    padding: 18px;
    margin: 5px
}

.big-checkbox:checked:after {
    font-size: 28px;
    left: 6px
}

input[type="checkbox"]:focus {
    outline: 0
}
.carousel-inner>.item>img,.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #e7bb85;
    height: 200px
}

.carousel-inner>.item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img {
    line-height: 1
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -moz-transition: -moz-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px
    }

    .carousel-inner>.item.next,.carousel-inner>.item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0
    }

    .carousel-inner>.item.prev,.carousel-inner>.item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0
    }

    .carousel-inner>.item.next.left,.carousel-inner>.item.prev.right,.carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next,.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left,.carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8%;
    font-size: 20px;
    color: #fff;
    text-align: center
}

.carousel-control.right {
    left: auto;
    right: 0
}

.carousel-control:hover,.carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90)
}

.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block
}

.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px
}

.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px
}

.carousel-control .icon-prev,.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: "Whitney A","Whitney B",serif
}

.carousel-control .icon-prev:before {
    content: '\2039'
}

.carousel-control .icon-next:before {
    content: '\203a'
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent
}

.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6)
}

.carousel-caption .btn {
    text-shadow: none
}

#title h1 {
  font-size: 25px;
  max-width: 300px;
  margin: 0 auto;
  letter-spacing: -1px;
}

.question h1 {
  font-size: 25px;
  max-width: 300px;
  margin: 0 auto;
  letter-spacing: -1px;
}

.descriptor {
  font-style: italic;
  max-width: 300px;
  margin: 0 auto;
  font-size: 20px;
}

.carousel .descriptor {
  width: 90%;
  max-width: none;
  font-size: 18px;
  margin-top: 20px;
}

.sml-btn {
  display: inline-block !important;
width: 30% !important;
max-width: 130px !important;
height: 120px !important;
margin-left: 50px !important;
margin-right: 50px !important;
text-align: center !important;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next {
        width:30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px
    }

    .carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev {
        margin-left: -10px
    }

    .carousel-control .glyphicon-chevron-right,.carousel-control .icon-next {
        margin-right: -10px
    }

    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px
    }

    .carousel-indicators {
        bottom: 20px
    }
    #title h1 {
      font-size: 50px;
      max-width: 600px;
      margin: 0 auto;
    }
    .question h1 {
      font-size: 40px;
      max-width: 640px;
      margin: 0 auto;
      line-height: 1.5;
    }
    .descriptor {
      font-style: italic;
      max-width: 500px;
      margin: 0 auto;
      font-size: 28px;
    }
    .carousel .descriptor {
      max-width: 70%;
      font-size: 25px;
      margin-top: 30px;
    }
}
.quiz-count {
    text-align: right;
    font-size: 18px !important
}

.quiz-field-half {
    width: 193px !important;
    margin-left: 0 !important
}

.quiz-field-full {
    width: 400px !important;
    margin-left: 0 !important
}

@media screen and (max-width: 450px) {
    .quiz-qn-font {
        font-size:36px
    }

    .quiz-count {
        font-size: 21px
    }

    .quiz-field-half,.quiz-field-full {
        width: 260px !important
    }

    .quiz-field-half {
        margin-top: 20px !important
    }
}

.active .text-center label {
    margin-left: 10px
    font-size: 22px;
    font-style: italic;
    padding-right: 89px;
}

.text-right {
    text-align: right !important
}

.text-left {
    text-align: left !important
}

.right {
    float: right
}

.left {
    float: left
}

.quiz-muted {
    color: #575757 !important;
    font-style: italic
}

.quiz-margin {
    margin-bottom: 13px
}

@media (min-width: 992px) {
    .quiz-img {
        padding:60px
    }
}

.quiz-btn {
  position: relative;
    display: block;
    text-align: left;
    margin: 0 auto;
    border: 0;
    box-shadow: 0px 2px 6px 1px #cacaca82 !important;
    border-radius: 0;
    width: 80%;
    max-width: 560px;
    height: 90px;
    margin-top: 50px;
    background-color: #fff;
    color: #081b33;
    font-style: italic;
    font-size: 1.4rem;
    padding: 8px 25px;
  -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.preimage {
  margin-right: 20px;
}

.selected {
  border: 1px solid #7fcc86;
}

label.skip-nav {
  position: relative;
    z-index: 10;
    width: 25px;
    height: 40px;
    cursor: pointer;
    padding-top: 5px;
    margin-bottom: 0;
}

.skip-nav input[type=checkbox] {
  box-sizing: border-box;
    padding: 0;
    display: none;
}

span.line {
  display: block;
    height: 2px;
    background: #081b33;
    margin-top: 6px;
}

.nav-mobile {
    display: none;
}

input[type=checkbox]:checked ~ .nav-mobile {
    z-index: 15;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    padding-top: 0;
    text-align: center;
    background-color: rgba(65, 65, 65, 0.8);
}

.nav-mobile-inner {
    display: block;
    width: 85%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 35px 80px 14px rgba(151,139,125,0.15);
}

label.nav-mobile-close {
    position: absolute;
    display: table;
    right: 2%;
    width: 40px;
    height: 40px;
    font-weight: 100;
    font-size: 53px;
    color: #fff;
    cursor: pointer;
}

header .nav-mobile-inner ul {
    -webkit-padding-start: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .nav-mobile-inner ul li {
    list-style-type: none;
    display: block;
    width: 100%;
    padding-top: 10px;
}

header .nav-mobile-inner ul li a {
    margin-right: 0;
    background-color: transparent;
    display: block;
    padding: 14px;
    color: #000;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #f3f3f3;
}

.center-it {
  position: absolute;
    width: 80px;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    margin-top: -20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.header-title {
  font-size: 13px !important;
    letter-spacing: 3px;
    font-weight: 600 !important;
    padding-top: 10px !important;
}

#intro, #intro2 {
  margin: 0 auto;
  margin-top: 50px;
}

#intro2 .orange-btn {
  width: 400px;
}

@media (max-width: 500px) {
  #intro2 .orange-btn {
    width: 320px;
    font-size: 15px;
  }
}

.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active {
  color: #081b33 !important;
background-color: #fff !important;
border-color: #7fcc86 !important;
outline: none !important;
}

.circle-holder {
    position: relative;
    width: 72.4%;
    max-width: 560px;
    margin: auto;
}

.circles {
    position: absolute;
    top: 13px;
}

.circles-1 {
    left: 23%;
}

.circles-2 {
    left: 49%;
}

.circles-3 {
    left: 74%;
}

#controls #prev {
    background-color: #fff !important;
    border-color: #081b33 !important;
    color: #081b33 !important;
    text-align: right !important;
    padding-right: 30px;
}

#controls #next {
    text-align: left !important;
    padding-left: 30px;
}


@media (max-width: 991px) {
  #controls .orange-btn {
    width: 150px;
    font-size: 15px;
  }
}

@media (max-width: 967px) {

  .progress {
      margin-bottom: 22px;
  }
}

input.quiz-btn {
    cursor: text;
}

select.quiz-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #fff url(/assets/images/icons/icon-down-arrow.svg) 0 0;
  background-repeat: no-repeat;
  background-position: right;
}

.qbs {
    display: inline-block;
    height: 60px;
    width: 30%;
    max-width: 90px;
    margin-top: 0;
    text-align: left !important;
    padding: 8px 20px;
}

.text-right div {
    position: relative;
    margin-top: 50px;
}

.text-right span {
    position: absolute;
    left: 0;
    top: 23%;
}

.text-right label {
    font-size: 22px;
    margin-left: 20px;
    font-style: italic;
}

h3.super-big {
    text-align: center;
    font-size: 90px;
    font-style: italic;
    color: #e7382f;
    margin-bottom: 50px;
    font-weight: 600;
}
.super-big sup {
  color: #081b33;
  font-size: 40px;
  top: -1em;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 767px) {
  .text-right div {
      position: relative;
      margin-top: 100px;
      text-align: left;
  }
  .text-right span {
      position: relative;
  }

  .text-right span img {
      display: none
  }
  .text-right span label {
    display: block;
    margin-left: 0;
    text-align: center;
  }
  .qbs {
    display: block
  }
  h3.super-big {
      font-size: 50px;
  }
  .super-big sup {
    font-size: 25px;
  }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e94d45;
    outline: none;
}
input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
