<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>
    <div class="transparent-card">




    {% include header.html %}


    {{ content }}








    </div>

    <script type="text/javascript">
      $('.openNav').on('click', function() {
        //$('#myNav').css("left", "0%");
        $('#myNav').css("visibility", "visible");
        $('#myNav').css("opacity", "1");
      });

      $('#closeNav').on('click', function() {
        //$('#myNav').css("left", "100%");
        $('#myNav').css("opacity", "0");
        $('#myNav').css("visibility", "hidden");
      });
    </script>
    </body>
</html>
