---
layout: news
title:  "India - entertainment news for 04 March, 2021"
description: "Bombay studio a comprehensive source for news and quick information in India"
permalink: /news/in/entertainment/04-03-2021
prevpage: 03-03-2021
currpage: 04-03-2021
newscategory: entertainment
country: in
---
{% include newstopic.html %}

<h1>Entertainment news <span>04 Mar, 2021</span></h1>
<div class="news-carousel">
{% for data in site.data.inen20210304.articles %}
  <div class="news-card">
      <a href="{{ data.url }}" rel="noopener noreferrer nofollow" target="_blank">
        <div class="news-data">
          <h2>{{ data.title | xml_escape | textilize }}</h2>
          <span>{{ data.source.name }}</span>
          <p>{{ data.description | xml_escape | textilize }}</p>
        </div>
         <div class="news-image">
          <img src="{{ data.urlToImage }}" alt="{{ data.title }}" onerror="if (this.src != '/img/news.png') this.src = '/img/news.png';">
         </div>
      </a>
    </div>
{% endfor %}
</div>